$headerBlack: #1d1d29;
$primaryBlack: #1a1a26;
$secondaryBlack: #1e1e2a;

$lightGrey: #888890;


$styleTweakPink: #f5efef;
$styleTweakBlue: #a8edea;
$peach: #f6b895;
$pink: #ff9a9e;
$aqua: #79dad6;

$darkPink: #f07f84;

$fontStack:'Poppins', sans-serif;

$hoverPink: rgb(255, 154, 158);
